body {
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
	padding: 0;
	margin: 0;
	width: 100%;
}
h1, p, form, input, div, label {
    background-color: #0CC;
    color: white;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: rgba(220,220,220,1);
	padding: 0;
	margin: 0;
}
.container {
	overflow: hidden;
}
.theForms {
    border-radius: 0;
    border-color: #0CC;
	margin: 1em auto 0 auto;
	width: 22.8em;
	height: 39.5em;
}
header h1 {
    font-weight: bold;
	font-size: 3em;
	font-variant: small-caps;
	line-height: 1.5;
	padding: 0.2em 0 0 0;
	height: 1.5em;
	width: 100%;
	text-align: center;
}
input {
	background: rgba(255,255,255, 0.8);
	background-size: 20px 80px;
	background-position: 0.5em 0.6em;
	border: none;
	color: #0CC;
	padding: 0 0 0 4em;
	margin: 0 0 1em 0;
	width: 20em;
	height: 2.8em;
	outline: none;
}
input:hover {
	background-color: rgba(255,255,255, 0.8);
}
input:focus {
	background-color: rgba(255,255,255, 0.8);
}
label {
	color: rgba(255,255,255, 0.8);
}
.profile {
	height: 8em;
	width: 8.5em;
	margin: 0 0 2em 7em;
}
.password {
	background-position: 0.5em -3.8em;
}
.remember {
	background: none;
	width: 1em;
	height: 1em;
	margin: 0.5em 0.5em 0 0;
}
.recovery {
	display: block;
	margin: -6.3em 0 0 14.5em;
}
.recovery:hover {
	text-decoration: underline;
}

.abs{
    width: 12em;
	height: 2.8em;
}
.period{
    width: 12em;
	height: 2.0em;
}
.leave{
    width: 12em;
	height: 2.0em;
}
.faculty{
    width: 12em;
	height: 2.0em;
}

.reason{
    width: 20em;
	height: 2.8em;
}
.submit {
	background: rgba(35,35,35, 0.6);
	color: rgba(220,220,220,1);
	padding: 0 0 0 0;
	margin: 2.5em 0 0 7em;
	width: 10em;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: background 0.4s;
	transition: background 0.4s;
}
.submit:hover {
	background: rgba(223,32,77, 0.8);
}
.submit:focus {
	background: rgba(223,32,77, 0.8);
}
@media only screen and (max-width: 480px) {
	header h1 {
		font-size: 4em;
	}
	.loginForm {
		margin: 0.5em auto 0 auto;
	}
}